<section class="jumbotron text-center">
    <div class="container">
      <h1>E-Learning your gate to learning </h1>
      <p class="lead text-muted">Access to 200+ Free Online Courses from our best Instructors.</p>
      <p>
        <a href="/browse" class="btn btn-primary my-4">Browse All</a>
        <a href="/register" class="btn btn-secondary my-4">Register Now</a>
      </p>
    </div>
</section>

<h2>Learning Path</h2>
<hr>
<section class="jumbotron text-center">
  <div class="Course py-1 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <h3>Computer Science</h3>
              <img class="mb-4" src="../../assets/CS_PATH.jpg" alt="" width="300" height="200">
              <div class="card-body">
              <p class="card-text">This is a complete program to understand and begin in the Computer Science field.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/details">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                  </a>
                </div>
                <small class="text-muted">60 Hours</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <h3>Business</h3>
              <img class="mb-4" src="../../assets/BM_PATH.jpg" alt="" width="300" height="200">
            <div class="card-body">
              <p class="card-text">This is a complete program to understand and begin in the Business field.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/details">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                  </a>
                </div>
                <small class="text-muted">67 hours, 40 min</small>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
              <h3>Humanities</h3>
              <img class="mb-4" src="../../assets/HM_PATH.png" alt="" width="300" height="200">            <div class="card-body">
              <p class="card-text">This is a complete program to understand and begin in the Humanities field.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/details">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                  </a>                
                </div>
                <small class="text-muted">70 Hours</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h2>Top Courses</h2>
<hr>
<section class="jumbotron text-center">
    <div class="Course py-1 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h5>Python for complete Beginner</h5>
                <img class="mb-4" src="../../assets/course1.png" alt="" width="300" height="200">
                <div class="card-body">
                <p class="card-text">Learn Python programming language from scratch with hands-on exercises in this tutorial.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/details">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                    </a>
                  </div>
                  <small class="text-muted">4 Hours</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h5>After Effects Motion Graphics</h5>
                <img class="mb-4" src="../../assets/course2.png" alt="" width="300" height="200">
              <div class="card-body">
                <p class="card-text">Using Adobe After Effects create beautiful VFX Visual Effects, data visualization & VFX Compositing.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/details">
                      <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                    </a>                  
                  </div>
                  <small class="text-muted">3 hours, 20 min</small>
                </div>
              </div>
            </div>
          </div>        
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <h5>Foundations of Psychology</h5>
                <img class="mb-4" src="../../assets/course3.png" alt="" width="300" height="200">            
                <div class="card-body">
                <p class="card-text">Positive Psychology: Master strategies and tools that enable individuals and organizations to thrive.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="/details">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Start Learning</button>
                    </a>
                  </div>
                  <small class="text-muted">9 Hours</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <ul class="list-inline">
    <li class="list-inline-item"><a href="/About">About us</a></li>
    <li class="list-inline-item"><a href="/Career">Career</a></li>
    <li class="list-inline-item"><a href="/contact">Contact Us</a></li>
    <li class="list-inline-item"><a href="/Donate">Donate</a></li>
    <li class="list-inline-item"><a href="/Privacy">Terms of Service & Honor Code</a></li>
  </ul>
</footer>